<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% if images.has_prev %}
    <a href="{{ url_for('index', page=images.prev_num) }}">Newer images</a>
    {% endif %}
    {% if images.has_next %}
    <a href="{{ url_for('index', page=images.next_num) }}">Older images</a>
    {% endif %}

    {% for image in images.items %}
    <div>
        <img src="{{ url_for('static', filename = image.relative_path()) }}" style="max-width: 600px;"/>
        {% for roi in image.rois %}
        <div>{{ roi.top, roi.left, roi.bottom, roi.right }}</div>
        {% endfor %}
    </div>
    {% endfor %}

    {% if images.has_prev %}
    <a href="{{ url_for('index', page=images.prev_num) }}">Newer images</a>
    {% endif %}
    {% if images.has_next %}
    <a href="{{ url_for('index', page=images.next_num) }}">Older images</a>
    {% endif %}

</body>
</html>

