{% extends "base.html" %}

{% block content %}
    {% if images.has_prev %}
    <a href="{{ url_for('index', page=images.prev_num) }}">Newer images</a>
    {% endif %}
    {% if images.has_next %}
    <a href="{{ url_for('index', page=images.next_num) }}">Older images</a>
    {% endif %}

    {% for image in images.items %}
    <div class="container">
        <img src="{{ url_for('static', filename = image.relative_path()) }}" />
        {% for roi in image.rois %}
        <a href="{{ url_for('roi', id=roi.id) }}"><div class="highlight-region" style="top:{{ roi.top }}px; left: {{ roi.left }}px; width: {{ roi.right - roi.left }}px; height: {{ roi.bottom - roi.top }}px;"></div></a>
        {% endfor %}
    </div>
    {% endfor %}

    {% if images.has_prev %}
    <a href="{{ url_for('index', page=images.prev_num) }}">Newer images</a>
    {% endif %}
    {% if images.has_next %}
    <a href="{{ url_for('index', page=images.next_num) }}">Older images</a>
    {% endif %}
{% endblock %}